<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-posters-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="{% url 'products' %}?category=action" class="dropdown-item">Action</a>
                <a href="{% url 'products' %}?category=adventure" class="dropdown-item">Adventure</a>
                <a href="{% url 'products' %}?category=comedy" class="dropdown-item">Comedy</a>
                <a href="{% url 'products' %}?category=crime" class="dropdown-item">Crime</a>
                <a href="{% url 'products' %}?category=drama" class="dropdown-item">Drama</a>
                <a href="{% url 'products' %}?category=western" class="dropdown-item">Western</a>
                <a href="{% url 'products' %}?category=history" class="dropdown-item">History</a>
                <a href="{% url 'products' %}?category=horror" class="dropdown-item">Horror</a>
                <a href="{% url 'products' %}?category=musical" class="dropdown-item">Musical</a>
                <a href="{% url 'products' %}?category=film-noir" class="dropdown-item">Film-Noir</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="decade-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Decade
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="decade-link">
                <a href="{% url 'products' %}?category=1920s" class="dropdown-item">1920s</a>
                <a href="{% url 'products' %}?category=1930s" class="dropdown-item">1930s</a>
                <a href="{% url 'products' %}?category=1940s" class="dropdown-item">1940s</a>
                <a href="{% url 'products' %}?category=1950s" class="dropdown-item">1950s</a>
                <a href="{% url 'products' %}?category=1960s" class="dropdown-item">1960s</a>
                <a href="{% url 'products' %}?category=1970s" class="dropdown-item">1970s</a>
                <a href="{% url 'products' %}?category=1980s" class="dropdown-item">1980s</a>
                <a href="{% url 'products' %}?category=1990s" class="dropdown-item">1990s</a>
                <a href="{% url 'products' %}?category=2000s" class="dropdown-item">2000s</a>
                <a href="{% url 'products' %}?category=2010s" class="dropdown-item">2010s</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div> 