<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-posters-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="" class="dropdown-item">Action</a>
                <a href="" class="dropdown-item">Adventure</a>
                <a href="" class="dropdown-item">Comedy</a>
                <a href="" class="dropdown-item">Crime</a>
                <a href="" class="dropdown-item">Drama</a>
                <a href="" class="dropdown-item">Western</a>
                <a href="" class="dropdown-item">History</a>
                <a href="" class="dropdown-item">Horror</a>
                <a href="" class="dropdown-item">Musical</a>
                <a href="" class="dropdown-item">Film-Noir</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="decade-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Decade
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="decade-link">
                <a href="" class="dropdown-item">1920s</a>
                <a href="" class="dropdown-item">1930s</a>
                <a href="" class="dropdown-item">1940s</a>
                <a href="" class="dropdown-item">1950s</a>
                <a href="" class="dropdown-item">1960s</a>
                <a href="" class="dropdown-item">1970s</a>
                <a href="" class="dropdown-item">1980s</a>
                <a href="" class="dropdown-item">1990s</a>
                <a href="" class="dropdown-item">2000s</a>
                <a href="" class="dropdown-item">2010s</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div> 