{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container-fliud main__wrapper">
	<div class="card">
		<div class="card-header">
			<h3 class="display-6 logo-font text-white text-uppercase">TEST</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<p class="display-6 logo-font text-black">
                     TEST TEST
					</p>
					<form method="POST">
						{% csrf_token %} {{ sendback_form|crispy }}
						<button class="btn btn-black rounded-0 text-uppercase mt-5 float-right" type="submit">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}